<h2>New Pokemon</h2>

<form action="/pokemons" method="post">

  <label>Name</label>
  <input type="text" name="pokemon[name]">

  <label>CP</label>
  <input type="text" name="pokemon[cp]">

  <label>Poke Type</label>
  <input type="text" name="pokemon[poke_type]">

  <label>Image</label>
  <input type="text" name="pokemon[img_url]">

  <label>Trainer ID</label>
  <input type="integer" name="pokemon[trainer_id]">

  <button type="submit">Submit</button>

</form>

<a href="/pokemons">Return to Pokedex</a>
