<h2> Single Poke View </h2>

<%=@pokemons.name %>

<!-- <form action="/pokemon<%=@pokemons.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">delete pokemon</button>
</form> -->
